<div>
  <h1>Estas en tu sesion {{user.name}}</h1>
  <ul>
    <li>Correo electrónico: {{user.email}}</li>
    <li>Rol: {{user.rol}}</li>
  </ul>
</div>
<hr>
<a href="/"><button>Inicio</button></a>
<a href="/products"><button>Ver productos y servicios</button></a>