<div>
    <div>
        <p>Never gonna give you up</p>
    </div>
<p>¿Usas gihub? <a href="/api/sessions/github">Entra con GitHub</a></p>
<hr>
<a href="/forgot-password"><button>¿Olvidaste tu contraseña?</button></a>
<hr>
<p>¿No estás registrado? <a href="/register">Regístrate aquí</a></p>
</div>