<div>
    <div>
        <p>Never gonna give you up</p>
    </div>
<hr>
<p>Tienes cuenta? <a href="/loginr"><button>Entra aquí</button></a></p>
<hr> 
<p>¿Usas gihub? <a href="/api/sessions/github"><button>Entra con GitHub</button></a></p>
<hr>
<p>¿Olvidaste tu contraseña? <a href="/forgot-password"><button>Haz clic aquí</button></a></p>
<hr>
<p>¿No estás registrado? <a href="/register"><button>Regístrate aquí</button></a></p>
<hr>

</div>