<div>
    <h1>HOLA!!!</h1>
    <p>Bienvenid@ {{user.name}}</p>
    <p>Te registrate como: {{user.email}}</p>
    <p>tu edad es: {{user.age}}</p>
    <a href="/"><button>Salir</button></a>
    <a href="/current"><button>Ir a mi session</button></a>
</div>